<div class="table-container">
  <table class="rankings-table table-dark-custom" *ngIf="constructores.length > 0">
    <thead>
      <tr>
        <th class="position">POS</th>
        <th>CONSTRUCTOR</th>
        <th class="points">PUNTOS</th>
        <th class="wins">V</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of constructores"
          [class.first-place]="c.position === 1">
        <td class="position">{{ c.position }}</td>
        <td class="team">{{ c.team }}</td>
        <td class="points">{{ c.points }}</td>
        <td class="wins">{{ c.wins }}</td>
      </tr>
    </tbody>
  </table>
</div>
